<div id="menu">
	<ul>
		<li><a href=<%= welcome_path %>><%= t :menu_home %></a></li>
		<li><a href=<%= family_tree_path %>><%= t :menu_family_tree %></a></li>
		<li><a href="/timeline"><%= t :menu_timeline %></a></li>
		<li><a href="/blog"><%= t :menu_blog %></a></li>
		<li><a href="/about"><%= t :menu_about %></a></li>
	</ul>
</div>
